{{#section "js"}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="../../static/js/admin/manage-shop.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/css/admin/manage-shop.css" />
{{/section}}
<section class="manage-shop-admin">
    <div class="section-one">
        <h1 class="title-page">Danh sách cửa hàng</h1>
    </div>
    <div class="section-two">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Tìm kiếm yêu cầu xử lý theo ID" />
        </div>
        <div class="search-group">
            <i class="bi bi-calendar4"></i>
            <input type="text" name="daterange" value="" />
            <i class="bi bi-chevron-down"></i>
        </div>

    </div>
    <div class="section-three">
        <div class="card">
            <table class="table table-hover custom-table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%;">ID</th>
                        <th scope="col" style="width: 15%;">Username</th>
                        <th scope="col">Ngày đăng ký</th>
                        <th scope="col">Tên cửa hàng</th>
                        <th scope="col">Loại kinh doanh</th>
                        <th scope="col"> &nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="h-70">
                        <th scope="row">#1007837</th>
                        <td>miemie1112</td>
                        <td>dd/mm/yyyy</td>
                        <td>Cơm tấm Phúc Lộc Thọ</td>
                        <td>Cơm</td>
                        <td style="width: 15%;">
                            <a href=""><button class="detail-btn">Xem chi tiết</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <span>
                    <b>Trang 1 / 10</b>
                </span>
                <div class="button-pagnation">
                    <a href=""><button class="next-btn">Trang trước</button></a>
                    <a href=""><button class="prev-btn">Trang sau</button></a>
                </div>
            </div>
        </div>
        <span class="sub-count">Tổng số cửa hàng: 80</span>
    </div>
</section>