.custom-container{
    position: relative;
    height: 100vh;
    width: calc(100% - 300px);
    left: 300px;
    padding: 30px 40px;
}

form .custom-button{
    background-color: var(--orange-color);
    padding: 8px 12px;
    color: var(--white-color);
    margin-right: 24px;
}


.home-container {
    width: 1083px;
    height: 250px;
    position: relative;
    /* flex-shrink: 0;  */
    background: var(--white, #FFF);
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.25);
    /* padding: 0px 0px 50px 0px !important; */
}

.information-container {
    width: 1083px;
    height: 350px;
    position: relative;
    flex-shrink: 0; 
    background: var(--white, #FFF);
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.seperator{
    width: 1083px;
    height: 40px;
    background: var(--white, #FFF);
}

.number-styling{
    font-size: 30px;
    font-weight: bold;
    color: var(--orange-color)
}

.number-title-styling{
    font-size: 20px;
    font-weight: bold;
    color: var(--black-color)
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: var(--black-color)
}

.information-title{
    text-align: end;
    font-family: "Roboto", sans-serif;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--black-color)
}

.merchant-information{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: var(--grey-color);
    border: 1px solid var(--grey-color);
    overflow: auto;
}

