:root {
    --swiper-pagination-color: var(--orange-color);
    --swiper-navigation-size: 25px;
    --swiper-navigation-color: var(--black-color);
}
.food-detail {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
}
#max-quantity {
    color: var(--natural-color-500);
}
.food-detail-info {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.food-detail-info-title {
    color: var(--orange-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.food-detail-info-description {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.food-detail-tab-content {
    text-align: justify;
}
.food-detail-price-rating {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.food-detail-price {
    color: var(--black-subtitle-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.food-detail-ratting {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.food-detail-rating-text {
    color: var(--black-subtitle-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.food-detail-tab-menu {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.food-detail-tab-item {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}
.food-detail-img {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
}
.food-detail-img > img {
    max-width: 450px;
    object-fit: cover;
}
.food-detail-img-item {
    max-width: 400px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
}
.food-detail-img-item img {
    object-fit: cover;
}
.food-detail-note {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.form-group-type-quantity {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.form-group-type select {
    width: 248px;
}
.form-group-quantity input {
    width: 68px;
}
.form-group-type,
.form-group-quantity {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}
.food-detail-btn {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
}
.add-food-btn {
    background-color: var(--orange-color);
    color: var(--white-color);
}
.add-food-btn:hover {
    box-shadow: 0px 0px 5px rgba(249, 168, 38, 0.4), 0px 0px 15px rgba(249, 168, 38, 0.4);
}
.buy-food-btn {
    background-color: var(--white-color);
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}
.buy-food-btn:hover {
    box-shadow: 0px 0px 5px rgba(249, 168, 38, 0.4), 0px 0px 15px rgba(249, 168, 38, 0.4);
}
.food-detail-card-review-feedback {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.bi-star-fill {
    color: var(--orange-color);
}
.food-detail-section {
    margin: 40px 0px 0px 0;
}
.customer-review-title {
    color: var(--orange-color);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.food-detail-card-review-item {
    padding: 32px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
}

.food-detail-card-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    height: 100%;
}
.swiper-slide {
    height: auto;
}
.food-detail-card-review-user img {
    width: 56px;
    height: 56px;
}
.food-detail-card-review-user {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
.food-card-review-user-info {
    display: flex;
    flex-direction: column;
}
.rate-food-btn {
    margin: 10px auto 0px auto;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 12px;
    border-radius: 5px;
}
.give-rating {
    text-align: center;
    margin-bottom: 0;
}
.rate-food-btn:hover {
    box-shadow: 0px 0px 5px rgba(249, 168, 38, 0.4), 0px 0px 15px rgba(249, 168, 38, 0.4);
}
.custom-btn {
    position: absolute;
    padding: 20px;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    background-color: white;
}
.prev {
    left: 0px;
}
.next {
    right: 0px;
}
.container-custom {
    padding: 30px 18px;
    position: relative;
}
.food-detail-rating-pop-up {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 30px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
}

.rating-pop-up-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.pop-up-main-title {
    color: var(--orange-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.pop-up-subtitle {
    color: var(--black-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.rating-pop-up-form {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    width: 50%;
}
.rating-pop-up-form > div {
    width: 100%;
}
.form-control {
    width: 100%;
}
.form-label {
    color: var(--black-color);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.rating-pop-up-last-name,
.rating-pop-up-first-name {
    width: 100%;
}
.rating-pop-up-input-star {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-check-group {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: flex-start;
    justify-content: flex-start;
}
.form-check-left,
.form-check-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input[type="radio"] {
    border-color: var(--black-color);
}
input[type="radio"]:checked {
    border: none;
    background-color: var(--orange-color);
}
.rating-pop-up-rate-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.thank-out-pop-out {
    background-color: white;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 25px 50px;
    border-radius: 10px;
}
.thank-you-title {
    color: var(--orange-color);
}
.return-food-btn {
    padding: 12px;
    border-radius: 5px;
    background-color: var(--orange-color);
    color: var(--white-color);
}
.return-food-btn:hover {
    box-shadow: 0px 0px 5px rgba(249, 168, 38, 0.4), 0px 0px 15px rgba(249, 168, 38, 0.4);
}
.rating-empty-container {
    margin-top: 10px;
}

.rating-emtpy {
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}
.empty-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--black-subtitle-color);
}
.rating-emtpy img {
    width: 55%;
    object-fit: cover;
}
.rating-empty-tittle {
    font-size: 24px;
    font-weight: bold;
}
.content-empty {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.link-custom {
    text-decoration: none;
    color: var(--black-subtitle-color);
}
