.section-one .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}
.production-order-list-title {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: grid;
    width: 100%;
    margin-bottom: 32px;
    grid-template-columns: 2fr repeat(3, 1fr);
    align-items: center;
}
.production-order-item {
    display: grid;
    width: 100%;
    margin-top: 32px;
    grid-template-columns: 2fr repeat(3, 1fr);
    align-items: center;
    padding-bottom: 32px;
    gap: 20px;
    border-bottom: 1px solid var(--black-color);
}
.product-info {
    display: flex;
    gap: 24px;
}
.product-title {
    flex-direction: column;
    display: flex;
    gap: 20px;
    padding: 10px 0;
    align-items: flex-start;
    justify-content: space-around;
}
.product-title span {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.product-img img {
    width: 110px;
    height: 90px;
    object-fit: cover;
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: none;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.float-right {
    float: right
}

.custom-input{
    border-radius: 4px;
}