.profile-page {
    margin-top: 100px;
}
.btn.btn-primary.btn-file {
    background-color: var(--orange-color) !important;
    border-color: var(--orange-color) !important;
}
.form-check-input:checked {
    background-color: var(--orange-color) !important;
    border-color: var(--orange-color) !important;
}
.link .page:active,
.link .page.active {
    color: var(--orange-color);
    font-weight: bold;
    border-bottom: 2px solid;
}

.form-group {
    display: flex;
    align-items: center;
}
.form-group label {
    width: 20%;
    margin-right: 10px;
}

.form-group input {
    width: 500px;
}

.form-group input::placeholder {
    color: var(--grey-color);
    font-style: italic;
}

.form-group-radio {
    display: flex;
    align-items: center;
}

.form-group-radio .label {
    width: 20%;
    margin-right: 10px;
}

.form-group-radio .input {
    width: 10%;
}

.form-group-dob {
    display: flex;
    align-items: center;
}

.form-group-dob .label {
    width: 20%;
    margin-right: 10px;
}

.form-group-dob .select {
    width: 30%;
}

.form-group-dob .row {
    gap: 10px;
}

form {
    width: 885px;
}
form .custom-button {
    background-color: var(--orange-color);
    padding: 8px 12px;
    color: var(--white-color);
    margin-right: 24px;
}

form .custom-button:hover {
    background-color: #ff8e00;
    color: var(--white-color);
}

.side {
    width: 40%;
    border-right: 1px solid var(--black-color);
    gap: 32px;
    margin-right: 30px;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.size-image {
    height: 60px;
    width: 80px;
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.link a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: bolder;
}

.link a:hover {
    color: var(--orange-color);
}

.order-history span {
    color: var(--grey-color);
}

#resetIcon {
    padding-left: 10px;
}

#view-more {
    color: var(--grey-color);
}

#view-more:hover {
    color: var(--orange-color);
}

.order-history .filter {
    padding-right: 0px;
}
.order-history .custom-button {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.order-history .custom-button:hover {
    background-color: #ff8e00;
    color: var(--white-color);
}

.input-container {
    position: relative;
    width: 260px;
    padding-left: 10px;
}

.input-container input::placeholder {
    color: var(--black-color);
    font-size: 14px;
}

#dateRangePicker {
    width: 240px;
    background-color: var(--light-color);
    border: 3px solid var(--light-color);
    padding-left: 8px;
}

.order-history .custom-filter {
    background-color: var(--light-color);
}

#register .dropup button {
    /* width: 500px; */
    color: var(--grey-color);
    font-style: italic;
}

#toggleIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

#toggle {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

#selectType .dropup button {
    width: 200px;
}

#dropdownCategory {
    margin-left: 0;
    width: 500px;
    padding-left: 10px;
}

.dropdown-category {
    overflow-y: auto;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

#none {
    width: 885px;
}

.inner-image {
    width: 100%;
    text-align: center;
}
.inner-image img {
    width: 100%;
    height: auto;
}
.page-item.active .page-link {
    border: 1px solid var(--orange-color) !important;
    background: var(--orange-color) !important;
}
.page-link {
    color: var(--black-color);
}
.page-link:hover {
    color: var(--orange-color);
}
