:root {
    --swiper-pagination-size: 5px;
    --swiper-pagination-color: var(--orange-color);
    --swiper-navigation-size: 25px;
    --swiper-navigation-color: var(--orange-color);
}
.swiper{
    width: 100%;
    height: 100%;
}
.popular-categories-custom{
    padding: 20px 0px 20px 40px;
}
.recommend-custom{
    padding: 20px 0px 20px 0px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
html{
    scroll-behavior: smooth;
}
.shop-page{
    min-width: 1440px;
    min-height: 550px;
}
.shop-breadcrumbs{
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: var(--grey-color);
    font-weight: 400;
    line-height: 150%;
    margin: 65px 65px 0px 65px;
}
.section-close-content{
    display: flex;
    flex-direction: column;
    margin: 60px 65px 0px 65px;
}
.message{
    color: var(--orange-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
}
.section-two-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    margin: 30px 30px 30px 30px;
}
.shop-info{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 24px;
    width: 650px;
}
.shop-title{
    font-size: 30px;
    font-weight: 600;
}
.shop-name{
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    color: var(--orange-color);
}
.shop-description{
    font-size: 20px;
    line-height: 150%;
    text-align: left;
}
.contact-link{
    display: flex;
    flex-direction: row;
    padding: 12px 24px 12px 24px;
    text-align: center;
    color: var(--black-color);
    font-size: 20px;
    line-height: 150%;
    border-color: var(--black-color);
    border: 1px;
    border-style: solid;
    width: fit-content;
}
.shop-image{
    width: 553px;
    height: 379px;
}

.section-three-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.popular-categories-title{
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    width: 100%;
    color: var(--orange-color);
}
.category-link{
    text-decoration: none;
}
.popular-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 326px;
    height: 326px;
    border-radius: 40px;
    border: 1px solid var(--white-color);
    box-shadow: 2px 2px 5px var(--grey-color);
}
.popular-categories-image{
    width: 153px;
    height: 153px;
    border-radius: 90px;
}
.popular-categories-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--orange-color);
    text-align: center;
    margin: 0px;
}
.popular-categories-quantity{
    font-size: 22px;
    font-weight: 500;
    color: #555555;
    text-align: center;
    margin: 0px;
}

.section-four-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.recommend-hader{
    display: flex;
    flex-direction: column;
}
.recommend-title{
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    width: 100%;
    color: var(--orange-color);
    margin: 0px;
}
.recommend-today{
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    color: var(--black-color);
    margin: 0px;
}

.food{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 375px;
    height: 319px;
    border: 1px solid var(--orange-color);
}
.food-image{
    min-width: 100%;
    height: 204px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.food-detail-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px 0px 20px;
    gap: 30px;
    width: 100%;
}
.food-detail-1-content{
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    color: var(--black-color);
    margin: 0px;
}
.food-detail-2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
}
.food-name{
    font-size: 32px;
    font-weight: 600;
    color: var(--orange-color);
    text-align: left;
    padding: 10px 50px 0px 20px;
    margin: 0px;
    text-decoration: unset;
}
.food-category{
    font-size: 16px;
    font-weight: 700;
    color: var(--black-color);
    text-align: left;
    margin: 0px;
}
.food-next{
    font-size: 16px;
    font-weight: 700;
    color: var(--black-color);
    text-align: left;
    text-decoration: underline;
    margin: 0px;
}
.section-five-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.menu-header{
    display: flex;
    flex-direction: column;
}
.menu-tilte{
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    width: 100%;
    color: var(--orange-color);
    margin: 0px;
}
.menu-today{
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    color: var(--black-color);
    margin: 0px;
}
.menu-category-bar{
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    border: 1px solid #888888;
}
.category-custom{
    padding: 0px 40px 0px 40px;
}
.categories-slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-category{
    width: fit-content;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color); 
    white-space: nowrap;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}
.menu-category-font{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--white-color);
    text-decoration: unset;
    margin: 0;
}
.menu-category-active{
    color: var(--white-color) !important;
    background-color: var(--orange-color) !important;
}
.category-name{
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    width: 100%;
    color: var(--orange-color);
    margin: 0px;
}
.menu-food{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
}
.food-link{
    text-decoration: none;
}