<div>
    <section class="section-one">
        <div class="inner-image">
            <img src="./../../static/images/user/bg-user-home.png">
            <div class="container">
                <div class="inner-content-order">
                    <span>Hàng trăm món ngon đang đợi bạn thưởng thức</span>                    
                </div>
                <button type="button" class="btn btn-white inner-order">Đặt hàng ngay</button>
            </div>
            <div class="inner-image-two">
                <img src="./../../static/images/user/dishes.png">
            </div>
        </div>
    </section>
</div>

