<div>
    <section class="section-one">
        <div class="inner-image">
            <img src="./../../static/images/user/home/bg-user-home.png">
            <div class="container">
                <div class="inner-content-order">
                    <span>Hàng trăm món ngon đang đợi bạn thưởng thức</span>                    
                </div>
                <button type="button" class="btn btn-white inner-order">Đặt hàng ngay</button>
            </div>
            <div class="inner-image-two">
                <img src="./../../static/images/user/home/dishes.png">
            </div>
        </div>
    </section>

    <section class="section-four">
        <div class="container">
            <div>
                <h4 class="content p-4">Nó hoạt động như thế nào</h4>
                <div class="wrap mt-3">
                    <div class="choose-location">
                        <div class="inner-image">
                            <img src="./../../static/images/user/home/location.png">
                            <div class="inner-infor">
                                <h5 class="">Chọn vị trí</h5> 
                                <span class="explain">Chọn địa điểm nơi thức ăn của bạn sẽ được giao</span>
                            </div>
                        </div>
                    </div>

                    <div class="choose-food">
                        <div class="inner-image">
                            <img src="./../../static/images/user/home/menu.png">
                            <div class="inner-infor">
                                <h5 class="">Chọn đơn hàng</h5> 
                                <span class="explain">Kiểm tra hàng trăm thực đơn để chọn món ăn yêu thích của bạn</span>
                            </div>
                        </div>
                    </div>

                    <div class="enjoy-food">
                        <div class="inner-image">
                            <img src="./../../static/images/user/home/donut.png">
                            <div class="inner-infor">
                                <h5 class="">Thưởng thức bữa ăn</h5> 
                                <span class="explain">Đồ ăn  được thực hiện và giao trực tiếp đến tận nơi đặt.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

