{{#section "js"}}
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="../../static/css/user/login.css">
{{/section}}

<div>
    <section class="section-login">
        <img src="../../static/images/user/account/SignInBackround.png">
    </section>
</div>