{{#section "js"}}
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/user/login.css">
{{/section}}

<div>
    <div class="inner-image">
        <img src="static\images\logo.png" alt="">
    </div>
</div>