{{#section "js"}}
    <script src="/static/js/user/order-status/index.js"></script>
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/user/order-status.css" />
{{/section}}
<div class="order-status">
    <section class="section-one"></section>
    <section class="section-two"></section>
    <section class="section-three"></section>
    <section class="section-four"></section>
</div>