{{#section "js"}}{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/user/profile.css" />
{{/section}}
{{! <div class="profile-section-two">
    <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 floating-form">
        <h2 class="mb-4">Tài khoản của tôi</h2>
        <form>
            <!-- Add your form fields here -->
            <div class="form-group mb-4">
                <label for="inputUserName">Tên đăng nhập</label>
                <input type="text" class="form-control" id="inputUserName" readonly>
            </div>
            <div class="form-group mb-4">
                <label for="inputFullName">Họ và Tên</label>
                <input type="text" class="form-control" id="inputFullName" placeholder="Nhập họ và tên của bạn">
            </div>
            <div class="form-group mb-4">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Nhập email của bạn">
            </div>
            <div class="form-group mb-4">
                <label for="inputPhoneNumber">Số điện thoại</label>
                <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Nhập số điện thoại của bản">
            </div>
            <div class="form-group-radio mb-4">
                <span class="label">Giới tính</span>
                <div class="form-check form-check-inline input">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                </div>
                <div class="form-check form-check-inline input">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2">
                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                </div>
                <div class="form-check form-check-inline input">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3">
                    <label class="form-check-label" for="inlineRadio2">Khác</label>
                </div>
            </div>

            <div class="form-group-dob mb-4">
                <span class="label">Ngày sinh</span>
                <div class="row">
                    <div class="select">
                        <select name="day" id="day">
                            <script>
                                for(let i = 1;i <= 31;i++){
                                    document.writeln(`<option value = "${i}">${i}</option/>`);
                                }
                            </script>
                        </select>
                    </div>
                    <div class="select">
                        <select name="month" id="month">
                            <script>
                                for(let i = 1;i <= 12;i++){
                                    document.writeln(`<option value = "${i}">${i}</option/>`);
                                }
                            </script>
                        </select>
                    </div>
                    <div class="select">
                        <select name="year" id="year">
                            <script>
                                for(let i = 1950;i <= 2019;i++){
                                    document.writeln(`<option value = "${i}">${i}</option/>`);
                                }
                            </script>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn custom-button">
                    <i class="bi bi-floppy-fill"></i>
                    <span>Cập nhật thông tin</span>
                    </button>
            </div>

            
        </form>
        
    </div>
  </div>
</div> }}

{{! <div class="profile-section-two">
    <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 floating-form">
        <h2 class="mb-4">Địa chỉ thường dùng</h2>
        <form>
            <!-- Add your form fields here -->
            <div class="form-group mb-4">
                <label for="inputAddress1">Địa chỉ 1</label>
                <input type="text" class="form-control" id="inputAddress1" placeholder="Nhập địa chỉ của bạn">
            </div>
            <div class="form-group mb-4">
                <label for="inputAddress2">Địa chỉ 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Nhập địa chỉ của bạn">
            </div>
            
            <div class="d-flex justify-content-center mb-4">
                <button type="button" class="btn custom-button">
                    <i class="bi bi-pin-map-fill"></i>
                    <span>Thêm địa chỉ mới</span>
                </button>
                <button type="submit" class="btn custom-button">
                    <i class="bi bi-floppy-fill"></i>
                    <span>Cập nhật thông tin</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</div> }}

<section class="profile-page mb-5">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="side">
                <div class="user mb-5">
                    <img src="/static/images/user/search/default-image-shop.png" class="size-image" />
                    <h5 class="my-auto text-center">Họ và tên</h5>
                </div>
                <div class="link">
                    <a href="#" class="page">
                        Tài khoản của tôi
                    </a>
                    <a href="#" class="page">
                        Địa chỉ thường dùng
                    </a>
                    <a href="#" class="page">
                        Lịch sử đơn hàng
                    </a>
                    <a href="#" class="page">
                        Đổi mật khẩu
                    </a>
                    <a href="#" class="page">
                        Đăng ký tạo cửa hàng
                    </a>
                </div>
            </div>
            <div class="order-history">
                <div class="container py-2">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-xl-12">
                            <h2 class="mb-3">Lịch sử đơn hàng</h2>
                            <div class="card border mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <h5>Đơn hàng</h5>
                                                <span>#ID đơn hàng</span>
                                            </div>
                                            <span>Ngày đặt hàng</span>
                                        </div>

                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img src="/static/images/user/search/default-image-shop.png" class="w-100" />
                                                <a href="#!">
                                                    <div class="hover-overlay">
                                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h5>Tên shop</h5>
                                            <div class="mt-0 mb-1 text-muted small">
                                                <span>Địa chỉ shop</span>
                                            </div>
                                            <p class="text-truncate mb-4 mb-md-0">
                                                Số lượng
                                            </p>
                                        </div>

                                        <div class="col-lg-3 col-xl-3 d-flex flex-column justify-content-between">
                                            <div class="mb-1 d-flex justify-content-end mt-4" style="color: var(--orange-color);">#.###.###
                                                đ</div>
                                            <div class="d-flex justify-content-end">
                                                <a href="#" id="view-more" class="small">Xem chi tiết</a>
                                            </div>
                                        </div>

                                        <div class="border-top mt-3">
                                            <div class="d-flex justify-content-between align-item-center mt-3">
                                                <div class="text-muted small my-auto text-center">
                                                    <span>Trạng thái</span>
                                                </div>
                                                <a href="#">
                                                    <button type="button" class="btn custom-button btn-sm">Đặt hàng lại</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <h5>Đơn hàng</h5>
                                                <span>#ID đơn hàng</span>
                                            </div>
                                            <span>Ngày đặt hàng</span>
                                        </div>

                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img src="/static/images/user/search/default-image-shop.png " class="w-100" />
                                                <a href="#!">
                                                    <div class="hover-overlay">
                                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h5>Tên shop</h5>
                                            <div class="mt-0 mb-1 text-muted small">
                                                <span>Địa chỉ shop</span>
                                            </div>
                                            <p class="text-truncate mb-4 mb-md-0">
                                                Số lượng
                                            </p>
                                        </div>

                                        <div class="col-lg-3 col-xl-3 d-flex flex-column justify-content-between">
                                            <div class="mb-1 d-flex justify-content-end mt-4" style="color: var(--orange-color);">#.###.###
                                                đ</div>
                                            <div class="d-flex justify-content-end">
                                                <a href="#" id="view-more" class="small">Xem chi tiết</a>
                                            </div>
                                        </div>

                                        <div class="border-top mt-3">
                                            <div class="d-flex justify-content-between align-item-center mt-3">
                                                <div class="text-muted small my-auto text-center">
                                                    <span>Trạng thái</span>
                                                </div>
                                                <a href="#">
                                                    <button type="button" class="btn custom-button btn-sm">Đặt hàng lại</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <h5>Đơn hàng</h5>
                                                <span>#ID đơn hàng</span>
                                            </div>
                                            <span>Ngày đặt hàng</span>
                                        </div>

                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img src="/static/images/user/search/default-image-shop.png " class="w-100" />
                                                <a href="#!">
                                                    <div class="hover-overlay">
                                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h5>Tên shop</h5>
                                            <div class="mt-0 mb-1 text-muted small">
                                                <span>Địa chỉ shop</span>
                                            </div>
                                            <p class="text-truncate mb-4 mb-md-0">
                                                Số lượng
                                            </p>
                                        </div>

                                        <div class="col-lg-3 col-xl-3 d-flex flex-column justify-content-between">
                                            <div class="mb-1 d-flex justify-content-end mt-4" style="color: var(--orange-color);">#.###.###
                                                đ</div>
                                            <div class="d-flex justify-content-end">
                                                <a href="#" id="view-more" class="small">Xem chi tiết</a>
                                            </div>
                                        </div>

                                        <div class="border-top mt-3">
                                            <div class="d-flex justify-content-between align-item-center mt-3">
                                                <div class="text-muted small my-auto text-center">
                                                    <span>Trạng thái</span>
                                                </div>
                                                <a href="#">
                                                    <button type="button" class="btn custom-button btn-sm">Đặt hàng lại</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{! <div class="profile-section-two">
    <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 floating-form">
        <h2 class="mb-4">Đổi mật khẩu</h2>
        <form>
            <!-- Add your form fields here -->
            <div class="form-group mb-4">
                <label for="inputCurrentPassword">Mật khẩu hiện tại</label>
                <input type="text" class="form-control" id="inputCurrentPassword" placeholder="Nhập mật khẩu hiện tại của bạn">
            </div>
            <div class="form-group mb-4">
                <label for="inputNewPassword">Mật khẩu mới</label>
                <input type="text" class="form-control" id="inputNewPassword" placeholder="Nhập mật khẩu mới muốn thay đổi">
            </div>
            <div class="form-group mb-4">
                <label for="re-enterNewPassword">Nhập lại mật khẩu mới</label>
                <input type="text" class="form-control" id="re-enterNewPassword" placeholder="Nhập lại mật khẩu mới">
            </div>
            <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn custom-button">
                    <i class="bi bi-floppy-fill"></i>
                    <span>Đổi mật khẩu</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</div> }}

{{! <div class="profile-section-two">
    <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 floating-form">
        <h2 class="mb-4">Thông tin đăng ký</h2>
        <form>
            <!-- Add your form fields here -->
            <div class="form-group mb-4">
                <label for="inputShopName">Tên nhà hàng/ quán ăn</label>
                <input type="text" class="form-control" id="inputShopName" placeholder="Nhập tên nhà hàng/ quán ăn muốn đăng ký">
            </div>
            <div class="form-group mb-4">
                <label for="inputFullName">Tên người đại diện</label>
                <input type="text" class="form-control" id="inputFullName" placeholder="Nhập tên người đại diện của quán">
            </div>
            <div class="form-group mb-4">
                <label for="inputCitizenIdentityCard">CCCD người đại diện</label>
                <input type="text" class="form-control" id="inputCitizenIdentityCard" placeholder="Nhập CCCD của người đại diện quán">
            </div>
            <div class="form-group mb-4">
                <label for="inputShopEmail">Email của quán</label>
                <input type="email" class="form-control" id="inputShopEmail" placeholder="Nhập email của quán">
            </div>
            <div class="form-group mb-4">
                <label for="inputShopPhoneNumber">Số điện thoại của quán</label>
                <input type="text" class="form-control" id="inputShopPhoneNumber" placeholder="Nhập số điện thoại của quán">
            </div>
            <div class="form-group mb-4">
                <label for="inputShopAddress">Địa chỉ kinh doanh</label>
                <input type="text" class="form-control" id="inputShopAddress" placeholder="Nhập địa chỉ kinh doanh">
            </div>
            <div class="form-group mb-4">
                <label for="selectType">Loại kinh doanh</label>
                <select name="type" id="selectType">
                    <script>
                        for(let i = 1;i <= 31;i++){
                            document.writeln(`<option value = "${i}">${i}</option/>`);
                        }
                    </script>
                </select>
            </div>
            
            <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn custom-button">
                    <i class="bi bi-ui-checks"></i>
                    <span>Gửi đơn đăng ký</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</div> }}