{{#section "js"}}
    {{!-- Shop js file --}}
    <script src="/static/js/user/shop/index.js"></script>
{{/section}}
{{#section "css"}}
    {{!-- Shop css file --}}
    <link rel="stylesheet" href="\static\css\user\shop.css" />
{{/section}}

<div class="shop-page">
    <section class="section-one">
        <div class="container">
            <div class="section-one-content">
                <div class="shop-breadcrumbs">
                    <span>Trang chủ</span>
                    <span>&gt;</span>
                    <span>Đồ ăn</span>
                    <span>&gt;</span>
                    <span>Cửa hàng: </span>
                    <span>Shop name</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="container">
            <div class="section-two-content">
                <div class="shop-info">
                    <p class="shop-title">Cửa hàng</p>
                    <p class="shop-name">Shop name</p>
                    <p class="shop-description">
                        "shop description: Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse varius 
                        enim in eros elementum tristique. Duis cursus, 
                        mi quis viverra ornare."
                    </p>
                    <a href="#" class="contact-link">Liên hệ</a>
                </div>
                <div class="shop-image">
                    <img src="/static/images/user/shop/alter-image.png" alt="/static/images/user/shop/alter-image.png">
                </div>
            </div>
        </div>
    </section>
</div>
