{{#section "js"}}
    {{!-- Swiper --}}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {{!-- Shop js file --}}
    <script src="/static/js/user/shop/index.js"></script>
{{/section}}
{{#section "css"}}
    {{!-- Swiper --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    {{!-- Shop css file --}}
    <link rel="stylesheet" href="/static/css/user/shop.css" />
{{/section}}

<div class="shop-page">
    <section class="section-one">
        <div class="container">
            <div class="section-one-content">
                <div class="shop-breadcrumbs">
                    <span>Trang chủ</span>
                    <span>&gt;</span>
                    <span>Đồ ăn</span>
                    <span>&gt;</span>
                    <span>Cửa hàng: </span>
                    <span>Shop name</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="container">
            <div class="section-two-content">
                <div class="shop-info">
                    <p class="shop-title">Cửa hàng</p>
                    <p class="shop-name">Shop name</p>
                    <p class="shop-description">
                        "shop description: Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Suspendisse varius 
                        enim in eros elementum tristique. Duis cursus, 
                        mi quis viverra ornare."
                    </p>
                    <a href="#" class="contact-link">Liên hệ</a>
                </div>
                <div class="shop-image">
                    <img src="/static/images/user/shop/alter-image.png" alt="shop-image">
                </div>
            </div>
        </div>
    </section>
    <section class="section-three">
        <div class="container">
            <div class="section-three-content">
                {{!-- Populated Categories Header --}}
                <p class="popular-categories-title">Các danh mục phổ biến</p>
                {{!-- Populated Categories --}}
                <div class="swiper container-custom">
                    <div class="popular-categories-swiper">
                        <div class="swiper-wrapper popular-categories-row">
                            <div class="swiper-slide popular-categories-slide">
                                <div class="popular-categories">
                                    <img class="popular-categories-image" src="/static/images/user/shop/alter-image.png" alt="category-image">
                                    <p class="popular-categories-name">Danh mục 1</p>
                                    <p class="popular-categories-quantity">(100 món)</p>
                                </div>   
                            </div>
                            <div class="swiper-slide popular-categories-card">
                                <div class="popular-categories">
                                    <img class="popular-categories-image" src="/static/images/user/shop/alter-image.png" alt="category-image">
                                    <p class="popular-categories-name">Danh mục 1</p>
                                    <p class="popular-categories-quantity">(100 món)</p>
                                </div>   
                            </div>
                            <div class="swiper-slide popular-categories-card">
                                <div class="popular-categories">
                                    <img class="popular-categories-image" src="/static/images/user/shop/alter-image.png" alt="category-image">
                                    <p class="popular-categories-name">Danh mục 1</p>
                                    <p class="popular-categories-quantity">(100 món)</p>
                                </div>   
                            </div>
                            <div class="swiper-slide popular-categories-card">
                                <div class="popular-categories">
                                    <img class="popular-categories-image" src="/static/images/user/shop/alter-image.png" alt="category-image">
                                    <p class="popular-categories-name">Danh mục 1</p>
                                    <p class="popular-categories-quantity">(100 món)</p>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>  
            </div>
        </div>
    </section>
    <section class="section-four">
        <div class="container">
            <div class="section-four-content">
                {{!-- Recommend Header --}}
                <div class="recommend-header">
                    <p class="recommend-title">Đề xuất cho bạn</p>
                    <p class="recommend-today">Đề xuất cho bạn ngày hôm nay</p>
                </div>
                {{!-- Recommend Food --}}
                <div class="swiper container-custom">
                    <div class="recommend-swiper">
                        <div class="swiper-wrapper recommed-row">
                            <div class="swiper-slide food-slide">
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide food-slide">
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide food-slide">
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide food-slide">
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-five">
        <div class="container">
            <div class="section-five-content">
                <div class="menu-header">
                    <p class="menu-tilte">Thực đơn</p>
                    <p class="menu-today">Thực đơn dành cho ngày hôm nay</p>
                </div>
                <div class="menu-category-bar">
                    <span class="">&lt;</span>
                    <div class="menu-category menu-active">
                        <a href="#danh-muc-1" data-toggle="tab" class="menu-category-font">Danh mục 1</span>
                    </div>
                    <div class="menu-category">
                        <a href="#danh-muc-2" data-toggle="tab" class="menu-category-font">Danh mục 2</span>
                    </div>
                    <div class="menu-category">
                        <span class="menu-category-font">Danh mục 3</span>
                    </div>
                    <div class="menu-category">
                        <span class="menu-category-font">Danh mục 4</span>
                    </div>
                    <div class="menu-category">
                        <span class="menu-category-font">Danh mục 5</span>
                    </div>
                    <div class="menu-category">
                        <span class="menu-category-font">Danh mục 6</span>
                    </div>
                    <div class="menu-category">
                        <span class="menu-category-font">Danh mục 7</span>
                    </div>
                    <span class="">&gt;</span>
                </div>
                <div class="tab-content">
                    <div id="danh-muc-1" class="tab-pane">
                        <p class="category-name">Danh mục 1</p>
                        <div class="menu-food">
                            <div class="food-row">
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="danh-muc-2" class="tab-pane active">
                        <p class="category-name">Danh mục 2</p>
                        <div class="menu-food">
                            <div class="food-row">
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                                <div class="food">
                                    <img class="food-image" src="/static/images/user/shop/alter-image.png" alt="food-img">
                                    <div class="food-detail-1">
                                        <p class="food-detail-1-content">10 phút</p>
                                        <p class="food-detail-1-content">5 sao</p>
                                        <p class="food-detail-1-content">60000VNĐ</p>
                                    </div>
                                    <div class="food-detail-2">
                                        <p class="food-name">Tên sản phẩm</p>
                                        <p class="food-category">Danh mục 1</p>
                                        <a href="#" class="food-next">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>
