.header{
    box-shadow: 0 1px 3px 0 var(--orange-color);
    background: var(--white-color);
    top: 0;
    position: sticky;
    z-index: 999;
}

.nav-link{
    color: var(--black-color);
}

.nav-link:hover{
    color: var(--orange-color);
}

.active{
    font-weight: bold;
    color: var(--orange-color);
}

.btn-icon{
    color: var(--orange-color);
    display: flex;
    align-items: center;
    
}

.btn-icon:hover{
    color: var(--orange-color);
}

.btn-white{
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
}

.btn-white:hover{
    background-color: var(--orange-color);
    color: var(--white-color);
}

.inner-content{
    border: 1px solid var(--black-color);
}
