:root{
    --roboto-font: 'Roboto', sans-serif;
    --orange-color: #F59359;
    --yellow-color: #FBDE93;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-color:#9E9E9E;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--roboto-font);
    color: var(--black-color);
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    padding-top: 100px;
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}