{{#section "js"}}
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="/static/css/merchant/home.css"/>
{{/section}}
<div style="box-shadow: 3px 0 0 0 rgba(0, 0, 0, 0.25);"> wtf</div>
<div class="home-container">hello</div>