.title-page {
    font-weight: 600;
    color: var(--orange-color);
}
.section-two {
    margin-top: 20px;
}
.content-title {
    font-size: 24px;
}
.add-btn {
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
    padding: 10px 20px;
    border-radius: 5px;
}
.add-btn:hover {
    color: var(--white-color);
    background-color: var(--orange-color);
}
